<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
          <br>
          <div class="form-group">
            <label for="pesquisaPet">Pesquisar Pet:</label>
            <input type="text" class="form-control" id="pesquisaPet" name="pesquisaPet" onkeyup="filtrarPet()">
          </div>
          <br>
          <a th:href="@{/pet/novo}" class="btn btn-secondary btn-lg">Novo</a>
          <br>
            <table class="table" id="tabpets">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umPet : ${listaPets}">
                        <td th:text="${umPet.nome}"></td>
                        <td th:text="${umPet.idade}"></td>
                        <td><a class="btn btn-secondary"
                            th:href="@{'/pet/alterar/' + ${umPet.id }}">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                th:data-id="${umPet.id}">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalpet">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir pet</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do pet?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>