<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <br>
            <a th:href="@{/categoria/novo}"
            class="btn btn-secondary btn-lg">Novo</a>
            <br>
            <table class="table" id="tabcategorias">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umCategoria : ${listaCategorias}">
                        <td th:text="${umCategoria.nome}"></td>
                        <td><a class="btn btn-secondary"
                            th:href="@{'/categoria/alterar/' + ${umCategoria.id }}">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                th:data-id="${umCategoria.id}">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalcategoria">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir categoria</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão da categoria?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>