<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead"></head>

<body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <header class="bg-dark py-4">
        <div class="container px-1 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-1 fw-bolder">Pettopia</h1>
                <p class="lead fw-normal text-white-50 mb-0">algum texto aqui</p>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="content container-fluid">
            <div class="container mt-5 mb-5">
                <div class="row g-1 mt-1">
                    <div class="col-md-10">
                        <input id="searchInput" placeholder="Search..." class="form-control" onkeyup="performSearch()">
                    </div>
                    <div class="col-md-2">
                        <button class="search btn btn-dark w-100 text-uppercase text-white" id="top-search">Search</button>
                    </div>
                </div>
                <div class="row g-1 mt-1">
                    <div class="col-md-12">
                      <div class="btn-group" role="group">
                        <div class="dropdown">
                          <button class="btn btn-secondary btn-sm dropdown-toggle me-2" type="button" id="filtroDropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Filtros
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="filtroDropdown">
                            <li><a class="dropdown-item" href="#" onclick="filterByHigherPrice()">Maior Preço</a></li>
                            <li><a class="dropdown-item" href="#" onclick="filterByLowerPrice()">Menor Preço</a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="categoriaDropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categorias
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="categoriaDropdown">
                            <li th:each="categoria : ${listaCategorias}">
                              <a class="dropdown-item" href="#" th:text="${categoria.nome}" th:data-categoria="${categoria.id}" onclick="filterByCategoria(this)"></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <br>
                <div id="productsContainer" class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" th:each="produto : ${listaProdutos}">
                        <div class="card position-relative" th:id="'productCard-' + ${produto.id}">
                            <img th:src="@{'/produto/image/'+ ${produto.id}}" class="card-img-top" alt="Imagem do produto">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${produto.nome}"></h5>
                                <p class="card-text" th:text="${produto.descricao}"></p>
                                <p class="card-text">R$ <span th:text="${produto.valor}"></span></p>
                                <div class="text-center">
                                    <a th:href="@{'/produto/detalhes/' + ${produto.id}}" class="btn btn-custom">Detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/script.js}"></script>
</body>

</html>
