<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.13.2/jquery-ui.css}" />
  <link rel="stylesheet" th:href="@{/site.css}" />
</head>

<body>
  <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">Pettopia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
        </ul>
        <div class="col-md-3">
          <div class="d-flex justify-content-end">
            <div class="ms-2 me-2">
              <a href="#" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Carrinho
                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
              </a>
            </div>
            <div class="dropdown">

              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="contaDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authentication="principal.username">Conta</span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="contaDropdown">
                <li><a class="dropdown-item" href="#">Criar Conta</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Opções</a></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div th:fragment="footer" id="footer">
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link active px-2 text-muted">Home</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 Pettopia, Inc</p>
      </footer>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
  </div>
</body>

</html>